version: "3.9"

services:
  web:
    build: .
    container_name: django_tcc
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_tcc
    restart: always
    environment:
      MYSQL_DATABASE: tcc_db
      MYSQL_USER: tcc_user
      MYSQL_PASSWORD: tcc_pass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
